/* :root {
  --'nome da variavel': cor;
} */

body {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Verdana;
    font-size: 16px;
}

footer  {
    text-align: center;
    font-size: small;
}

#cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#img_perfil {
    width: 240px;
    height: 240px;
    border: 2px solid black;
    border-radius: 50%;
}

#logo_ufc {
    width: 240px;
    height: 240px;
    border: 2px solid black;
    border-radius: 50%;
}

#titulo {
    font-size: 32px;
    font-family: Tahoma;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

#titulo p {
    font-size: 16px;
    text-transform: capitalize;
    margin: 10px;
}

#SobreOCurso {
    display: flex;    
}

#especificacoes {
    margin: 10px auto auto 0;
    padding-inline-start: 0;
    min-width: 200px;
}

#especificacoes li {
    list-style-type: none;
}

#especificacoes h4 {
    margin: 3px auto;
}

#especificacoes p {
    margin: 3px auto;
}

#objetivo {
    margin: 10px auto auto 25px;
}

.post_title {
    color: black;
    text-align: center;
}

.post {
    text-align: justify;
    padding: 10px 10px;
    margin: 10px;
}

#campus_qxd {
    display: block;
    margin: 20px auto 0 auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 2.5%;
    text-align: center;
}

a {
    color: black;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

a:hover {
    color: green;
}
#cursos {
    list-style-image: url('../img/capelo.png');
}
