body {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Times New Roman';
    font-size: 1.2rem;
    display: flex;
    margin: 8px auto 0 auto;
    max-width: 1000px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgs_cabecalho {
    max-width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
}

footer  {
    text-align: center;
    font-size: small;
}

.flex {
    display: flex;
}

.item{
    flex: 1;
}

.center{
    align-items: center;
    justify-content: center;
}

#especificacoes {
    display: flex;
    flex-direction: column;
    flex-basis: 180px;
    margin-left: 0;
    padding: 10px;
    padding-left: 0;
}

#especificacoes p{
    margin: auto;
    margin-left: 0;
}

#especificacoes h4{
    margin: auto;
    margin-left: 0;
}

#objetivo {
    flex: 1;
}

.titulo h1{
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.titulo p {
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
    margin: 10px;
}

.post_title {
    color: black;
    text-align: center;
}

.post {
    text-align: justify;
    padding: 10px 10px;
    margin: 10px;
}

#campus_qxd {
    display: block;
    text-align: center;
    margin: 20px auto 0 auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 2.5%;

}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-style: italic;
}

#cursos {
    list-style-image: url('../img/capelo.png');
    text-align: left;
}

@media(max-width: 650px){
    .flex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imgs_cabecalho {
        max-width: 300px;
        max-height: 300px;
    }

    #especificacoes{
        align-self: flex-start;
    }
}