#cabeçalho {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Verdana;
}

#img_perfil {
    width: 240px;
    height: 240px;
    border: 2px solid black;
    border-radius: 50%;
}

#logo_ufc {
    width: 240px;
    height: 240px;
    border: 2px solid black;
    border-radius: 50%;
}

#titulo {
    font-size: 30px;
    font-family: Tahoma;
    text-align: center;
    text-transform: uppercase; /* maiusculas */
    color: black;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

#titulo p {
    font-size: 20px;
    text-transform: capitalize; /* capitalizadas */
    text-align: center;
    margin: 10px;
}

.subtitle, .post_title {
    color: black;
    text-align: center;

}

.post_title {
    font-size: 16px;
    font-style: italic;
}

.post {
    background-color: white;
    text-align: justify;
    padding: 10px 10px;
    border: 3px solid black;
    margin: 10px;
}

#campus_qxd {
    display: block;
    max-width: 90%;
    margin: auto;
    max-height: 100%;
    border-radius: 2.5%;
    text-align: center;
}

a {
    color: black;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

#cursos {
    list-style-image: url("img/capelo.png");
    /* margin-left: 10px; */
}